.cta__group{

    &:not(:first-child){
        margin-top: 1rem;
    }

    &-head,&-text{        
        border-top: 1px solid $color-black;
        background-color: rgba(#423e3e00,.8);
        width: 70%;
        margin: 0 auto;
        padding: 1rem 3rem;
        font-size: 2.5rem;
        overflow: hidden;
    }

    &-head{
        position: relative;
        text-align: left;
        
    }

    &-text{
        padding: 5rem 3rem;
        
    }

    &-radio{
        display: none;
    }

    &-close{
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        background-color: $color-white;
        width: .2rem;
        height: 3rem;
        display: inline-block;
        perspective: 500rem;
        z-index: 1;
    }

    &-close::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        right: .1rem;
        display: inline-block;
        transform: rotate(90deg);
        z-index: 3;
        background-color: $color-white;
    }

    &-text{
        display: none;
    }
    
    & &-radio:checked ~ &-text{
        display: block;
    }

    & &-radio:checked ~ &-label &-close{
        transform: rotate(45deg);
    }


}

